@page "/"
@using PdfMakeNet 

<button @onclick=@OpenInNewTab>Open in new tab</button>
<p>@GetDocumentDefinition()</p>

@functions{
    PdfMake pdfmake = new PdfMake();
    [Inject] IJSRuntime JSRuntime { get; set; }
    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            pdfmake.AddText(new PdfMakeText()
            {
                Alignment = Alingment.Center,
                BackgroundColor = "red",
                Bold = true,
                Color = "white",
                FontSize = 18,
                Italics = true,
                Text = "Hello World!",
                Width = 0,
                Height = 0
            });
            StateHasChanged();
        }
    }
    //Gets the document definition in a json string
    public string GetDocumentDefinition()
    {
        return pdfmake.GetDocumentDefinition();
    }
    public async Task OpenInNewTab()
    {
        await JSRuntime.InvokeVoidAsync("eval", pdfmake.GetOpenInBrowser(false));
    }
}